{% extends 'frontend/layout.twig' %}

{% block title %}
{% endblock %}

{% block id  'portada'%}

{% block article %}
	<h1>Está es la portada, bienvenido a mi blog sobre Silex</h1></br>
   
   {% for article in articles %}
         <div class="post">
         <a href="{{ path('posts', { 'id': article.id }) }}"><h1>{{ article.Title }}</h1></a>
       		<span class="fecha">{{ article.CreateDate | date }}</span>
          <span class="autor">{{ article.Author }}</span>
       		<p>{{ article.Content | raw }}</p>
       		<hr>
       </div>
    {% else %}
        <h1>Aún no hay artículos creados</h1>
    {% endfor %}
{% endblock %}
